################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ElectronDemo/ElectronDemo/node_modules
